version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=database
      - DB_NAME=testdb
      - DB_USER=user
      - DB_PASS=password
    depends_on:
      - database

  frontend:
    build: ./frontend
    ports:
      - "8080:80"

  database:
    build: ./database
    environment:
      - POSTGRES_DB=testdb
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
